<a href="https://colab.research.google.com/github/sw01-prog/python_coding_practice/blob/main/challenge_set_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Fibonacci series

In [5]:
n=int(input())

7

In [6]:
def fibonacci(n):
 if n==1 or n==2:
  return 1
 else:
  return fibonacci(n-1)+fibonacci(n-2)

print(fibonacci(n))

13

Sum of even and odd numbers

In [22]:
l1=[1,2,3,4,5,6,7,8]
even_sum =0
odd_sum = 0

def sum_even_odd(l1):
 even_sum =0
 odd_sum = 0
 for i in l1:
  if i%2==0:
   print(even_sum+=i)


  else:
   print(odd_sum+=i)


sum_even_odd(l1) # call the function to execute it

SyntaxError: invalid syntax (ipython-input-2029275473.py, line 10)

In [20]:
l1=[1,2,3,4,5,6,7,8]
#even_sum =0
#odd_sum = 0

def sum_even_odd(l1):
 even_sum =0
 odd_sum = 0
 for i in l1:
  if i%2==0:
   even_sum+=i
  elif i%2!=0:
   odd_sum+=i

 return(even_sum,odd_sum)

even_sum, odd_sum = sum_even_odd(l1)
print(even_sum, odd_sum)

UnboundLocalError: cannot access local variable 'odd_sum' where it is not associated with a value

the error happens because of Python’s variable scope rules.

Inside your function sum_even_odd,

When you write even_sum += i or odd_sum += i,
Python assumes even_sum and odd_sum are local variables to the function.

But you never created them inside the function, so they are “unbound” → hence UnboundLocalError.

In [21]:
l1=[1,2,3,4,5,6,7,8]
#even_sum =0
#odd_sum = 0

def sum_even_odd(l1):
 even_sum =0
 odd_sum = 0
 for i in l1:
  if i%2==0:
   even_sum+=i
  elif i%2!=0:
   odd_sum+=i

 return(even_sum,odd_sum)

even_sum, odd_sum = sum_even_odd(l1)
print(even_sum, odd_sum)

20 16

Palindrome number

In [26]:
l1=[1,2,1]

def check_palindrome(l1):
 string_m= ''.join(l1)
 if string_m == string_m[::-1]:
  print('Palindrome')
 else:
  print('Not Palindrome')
check_palindrome(l1)

TypeError: sequence item 0: expected str instance, int found

The error happens because ''.join() only works on sequences of strings, but your list l1 contains integers.

In [27]:
l1 = [1, 2, 1]

def check_palindrome(l1):
    # Convert all integers to strings first
    string_m = ''.join(map(str, l1))
    if string_m == string_m[::-1]:
        print('Palindrome')
    else:
        print('Not Palindrome')

check_palindrome(l1)

Palindrome

one more thing to check

In [28]:
l1 = [1, 2, 1]

def check_palindrome(l1):
    # Convert all integers to strings first
    string_m = ''.join(map(str, l1))
    if string_m == string_m[::-1]:
        return True
    else:
        return False

print(check_palindrome(l1))

True

In [29]:
l1 = [1, 2, 1]

def check_palindrome(l1):
    # Convert all integers to strings first
    string_m = ''.join(map(str, l1))
    if string_m == string_m[::-1]:
        return True
    else:
        return False

check_palindrome(l1)

True

string reverse

In [31]:
n= input()
def reverse(n):
 rev= int(str(n)[::-1])  # int() removes leading zeros
 return rev
reverse(n)

4678

8764

Calculator based on conditions

In [6]:
n= int(input())

def simple_calculator(n):

 for _ in range(n):
  op= int(input())

  if op==6:
   break

  if op>=1 and op<=5:
   a=int(input())
   b=int(input())

   if op==1:
    print(a+b)
   elif op==2:
    print(a-b)
   elif op==3:
    print(a*b)
   elif op==4:
    print(a//b)
   elif op==5:
    print(a%b)

  else:
   print('invalid')
   break

#simple_calculator(n)

3

In [ ]:

simple_calculator(n)

In [7]:
def simple_calculator(n):
    for _ in range(n):
        op = int(input())  # Operation code

        if op == 6:
            break  # Exit immediately

        if 1 <= op <= 5:
            a = int(input())
            b = int(input())

            if op == 1:
                print(a + b)
            elif op == 2:
                print(a - b)
            elif op == 3:
                print(a * b)
            elif op == 4:
                print(a // b)  # Integer division
            elif op == 5:
                print(a % b)
        else:
            print("Invalid Operation")


# Example usage
n = int(input())  # Number of operations
simple_calculator(n)

1
2
4
4
0

In [3]:
# Number of operations
n = int(input())

for _ in range(n):
    op = int(input())  # Operation code

    if op == 6:
        break  # Exit the program

    if op >= 1 and op <= 5:
        a = int(input())
        b = int(input())

        if op == 1:
            print(a + b)
        elif op == 2:
            print(a - b)
        elif op == 3:
            print(a * b)
        elif op == 4:
            print(a // b)  # Integer division
        elif op == 5:
            print(a % b)

    else:
        print("Invalid Operation")

4
1
2
4
6

KeyboardInterrupt: Interrupted by user

In [14]:
n = int(input())
for _ in range(n):
    choice = int(input())
    if choice == 1:
        num1 = int(input())
        num2 = int(input())
        print(num1 + num2)
    elif choice == 2:
        num1 = int(input())
        num2 = int(input())
        print(num1 - num2)
    elif choice == 3:
        num1 = int(input())
        num2 = int(input())
        print(num1 * num2)
    elif choice == 4:
        num1 = int(input())
        num2 = int(input())
        # To handle potential division by zero, though constraints
        # might imply this won't happen.
        if num2 != 0:
            print(num1 // num2)
        else:
            print("Error: Division by zero")
    elif choice == 5:
        num1 = int(input())
        num2 = int(input())
        # To handle potential modulo by zero.
        if num2 != 0:
            print(num1 % num2)
        else:
            print("Error: Modulo by zero")
    elif choice == 6:
        break
    else:
        print("Invalid Operation")

3
1
2
4
6
2
1
3
-2
2
6
7
-1

Convert fareinheit to celsius

In [10]:
s= int(input())
e= int(input())
w= int(input())

def convrt_to_c(F):
 return((F-32)*5/9)

for F in range(s, e+1, w):
  print(convrt_to_c(F))

0
100
20
-17.77777777777778
-6.666666666666667
4.444444444444445
15.555555555555555
26.666666666666668
37.77777777777778

In [11]:
S = int(input())
E = int(input())
W = int(input())

def convrt_to_c(F):
    return int((F - 32) * 5 / 9)

for F in range(S, E + 1, W):
    print(F, convrt_to_c(F))

0
100
20
0 -17
20 -6
40 4
60 15
80 26
100 37

lambda is one liner anonymous function

we defined a lambda function(upper) to convert a string to its upper case using upper().

In [2]:
s1 = 'geeksforgeeks'
s2= lambda func: func.upper()
print(s2(s1))

GEEKSFORGEEKS

lambda with Condition Checking
- # Example: Check if a number is positive, negative, or zero

In [5]:
z= lambda x: if x>0 print('positive') else print('negative')

SyntaxError: invalid syntax (ipython-input-1359977569.py, line 1)

In [ ]:
z= lambda x: 'positive' if x>0 else 'negative'

In [8]:
z = lambda x: str(x)[::-1]

In [9]:
print(z(234678))

876432

Lambda with List Comprehension

In [11]:
z = [lambda arg=x: arg*10 for x in range(1, 5)]
for i in z:
  print(i())

10
20
30
40

In [12]:
# Example: Check if a number is even or odd
check = lambda x: "Even" if x % 2 == 0 else "Odd"

print(check(4))
print(check(7))

Even
Odd

In [13]:
# Example: Perform addition and multiplication in a single line
calc = lambda x, y: (x + y, x * y)

res = calc(3, 4)
print(res)

(7, 12)

if the strings has too much space between words or lettrs how to cut down

In [15]:
text = "Hello     this    has     too   many spaces"
f = " ".join(text.split())
print(f)

Hello this has too many spaces

In [20]:
text = "H e l l o,   W o r l d"
f= ' '.join(text.split())
print(f)

H e l l o, W o r l d

T check if a string is emty

In [21]:
s= ''
if len(s)==0:
  print('empty')
else:
  print('not')

empty

challenge calculator

In [ ]:
def solution ():
   option = int(input())
   if option==6:
       return
   if option>=7:
       print("Invalid Operation")
       return solution()


   num1 = int(input())
   num2 = int(input())


   if option==1:
       print(num1+num2)
   elif option==2:
       print(num1-num2)
   elif option==3:
       print(num1*num2)
   elif option==4:
       print(num1//num2)
   elif option==5:
       print(num1%num2)


   return solution()
solution()